{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo) %}
    <li class="list-group-item">
        <div class="item-description">
            {{ todo.to_dict().description }}
        </div>
        
        {% if todo.to_dict().done %}
            <span class="badge" style="background: green">
                Done
            </span>
        {% else %}
            <span class="badge">
                To do
            </span>
        {% endif %}

        <div>
            <a 
               href="{{ url_for('delete', todo_id=todo.id)}}"
               class="btn d-inline-block btn-danger">
                 Delete
           </a>
           <a
                href="{{ url_for('update', todo_id=todo.id, done=todo.to_dict()['done'])}}"
                class="btn d-inline-block btn-primary">
                Update
           </a>
        </div>
    </li>
{% endmacro %}